mixin gicon(icon, text)
  span(class="glyphicon glyphicon-" + icon)
  span=" "
  span(kaanna=text)

mixin giconrtl(icon, text)
  span(kaanna=text)
  span=" "
  span(class="glyphicon glyphicon-" + icon)

mixin label(icon, text, type)
  span(class="label label-" + type)
    +gicon(icon, text)

mixin haku()
  span(uib-dropdown ng-if="!hakuparametrit.kieli")
    a.dropdown-toggle(uib-dropdown-toggle)
      +giconrtl("chevron-down", "'haku-julkaisukieli'")
    ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
      li(ng-repeat="kieli in sisaltokielet" ng-class="{active: hakuparametrit.kieli === kieli}")
        a(kaanna="kieli" ng-click="muutaHakua('kieli', kieli)")

  span(ng-if="hakuparametrit.kieli")
    a(ng-click="poistaHakukriteeri('kieli')")
      +giconrtl("remove", "hakuparametrit.kieli")

  span(uib-dropdown ng-hide="piilotaKoulutustyyppi()" ng-if="!hakuparametrit.tyyppi")
    a.dropdown-toggle(uib-dropdown-toggle)
      +giconrtl("chevron-down", "'tyyppi'")
    ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
      li(ng-repeat="koodi in koulutustyypit" ng-class="{active: hakuparametrit.tyyppi === koodi}")
        a(kaanna="koodi" ng-click="muutaHakua('tyyppi',koodi)")

  span(ng-hide="piilotaKoulutustyyppi()" ng-if="hakuparametrit.tyyppi")
    a(ng-click="poistaHakukriteeri('tyyppi')")
      +giconrtl("remove", "hakuparametrit.tyyppi")

  span(uib-dropdown ng-if="!hakuparametrit.koulutusala")
    a.dropdown-toggle(uib-dropdown-toggle)
      +giconrtl("chevron-down", "'haku-koulutusala'")
    ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
      li(ng-repeat="ala in koulutusalat")
        a(kaanna="ala.nimi" ng-click="muutaHakua('koulutusala', ala.koodi)")

  span(ng-if="hakuparametrit.koulutusala")
    a(ng-click="poistaHakukriteeri('koulutusala')")
      +giconrtl("remove", "koulutusalatMap[hakuparametrit.koulutusala].nimi")

  span(uib-dropdown ng-if="hakuparametrit.koulutusala && !hakuparametrit.opintoala")
    a.dropdown-toggle(uib-dropdown-toggle)
      +giconrtl("chevron-down", "'haku-opintoala'")
    ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
      li(ng-repeat="ala in opintoalat")
        a(kaanna="ala.nimi" ng-click="muutaHakua('opintoala', ala.koodi)")

  span(ng-if="hakuparametrit.koulutusala && hakuparametrit.opintoala")
    a(ng-click="poistaHakukriteeri('opintoala')")
      +giconrtl("remove", "opintoalatMap[hakuparametrit.opintoala].nimi")

.haku
  h1.hidden-xs(kaanna='sivu.otsikko')

  .haku-box
    input.form-control(type="text" placeholder="{{'hakusana' | kaanna}}" ng-model="hakuparametrit.nimi" ng-change="hakuMuuttui()")

    .haku-filtered
      a(href="" ng-click="switchHakua('tuleva')")
        span(class="label label-tulevat")
          span(ng-if="hakuparametrit.tuleva")
            +gicon("ok", "'tulevat'")
          span(kaanna="'tulevat'" ng-if="!hakuparametrit.tuleva")
      =" "
      a(href="" ng-click="switchHakua('voimassaolo')")
        span(class="label label-voimassaolevat")
          span(ng-if="hakuparametrit.voimassaolo")
            +gicon("ok", "'voimassaolevat'")
          span(kaanna="'voimassaolevat'" ng-if="!hakuparametrit.voimassaolo")
      =" "
      a(href="" ng-click="switchHakua('siirtyma')")
        span(class="label label-siirtymassa")
          span(ng-if="hakuparametrit.siirtyma")
            +gicon("ok", "'siirtymassa'")
          span(kaanna="'siirtymassa'" ng-if="!hakuparametrit.siirtyma")
      =" "
      a(href="" ng-click="switchHakua('poistunut')")
        span(class="label label-poistuneet")
          span(ng-if="hakuparametrit.poistunut")
            +gicon("ok", "'poistuneet'")
          span(kaanna="'poistuneet'" ng-if="!hakuparametrit.poistunut")

      .haku-filters
        +haku
      .clearfix

  div(ng-repeat="peruste in perusteet.data")
    .haku-box
      .color-box(ng-class="peruste.$$tila")
        .text-box
          p
            a.nimi(ui-sref='root.esitys.peruste({ perusteId: peruste.id, suoritustapa: hakuparametrit.suoritustapa})')
              span(kaanna="peruste.nimi")

          p
            b(ng-repeat="koulutus in peruste.koulutukset | orderBy:'id'")
              span(kaanna="koulutusalaNimi(koulutus.koulutusalakoodi).nimi")
              span {{$last ? '' : ', '}}

          p.tutkintonimikkeet(ng-if="peruste.$$tutkintonimikkeet.koodisto.length > 0")
            span Tutkintonimikkeet
            span=" "
            span(ng-repeat="nimike in peruste.$$tutkintonimikkeet.koodisto | unique:'tutkintonimikeArvo'")
              span(class="label label-primary")
                span(kaanna="nimike.$tutkintonimikeNimi")
              span {{$last ? '' : ' '}}
          p.pvm(ng-if="peruste.$$tila === 'voimassa'")
            span(kaanna="'voimaantulo-pvm'")
            span=" "
            span(pvm="peruste.voimassaoloAlkaa")
          p.pvm(ng-if="peruste.$$tila === 'arkistoitu'")
            span(kaanna="'voimassaolo-paattymispvm'")
            span=" "
            span(pvm="peruste.voimassaoloLoppuu")
          p.pvm(ng-if="peruste.$$tila === 'siirtyma'")
            span(kaanna="'siirtyman-paattyminen'")
            span=" "
            span(pvm="peruste.siirtymaPaattyy")

  .text-center
    uib-pagination(ng-model='nykyinenSivu', ng-change='pageChanged()', total-items='kokonaismaara', items-per-page='hakuparametrit.sivukoko')
