include ../../../misc/mixins.pug


mixin paikallinenLaajuus()
  div(ng-if="osa.tosa.omatutkinnonosa.laajuus || $$ekEditing")
    +contentToggler("pTosa.$$naytaLaajuus", "'laajuus'")
      div(ng-if="$$ekEditing")
        numberinput(type="float" model="osa.tosa.omatutkinnonosa.laajuus" step="0.5")
      div(ng-if="!$$ekEditing")
        span(ng-bind="osa.tosa.omatutkinnonosa.laajuus")


mixin paikallinenKoodi()
  div(ng-if="osa.tosa.omatutkinnonosa.koodi || $$ekEditing")
    +contentToggler("pTosa.$$naytaPaikallinenKoodi", "'koodi'")
      div(ng-show="$$ekEditing")
        input.form-control(type="text"
        ng-model="osa.tosa.omatutkinnonosa.koodi"
        ng-change="paikallinenKoodiUpdate(osa.tosa.omatutkinnonosa.koodi)"
        ng-model-options="{ debounce: 500 }")
      div(ng-hide="$$ekEditing || !osa.tosa.omatutkinnonosa.koodi")
        input.form-control(type="text"
        ng-model="osa.tosa.omatutkinnonosa.koodi"
        disabled)
      div.koodi-kaytossa.alert.alert-info(ng-show="$$ekEditing && $$koodiFormaattiVaara" style="margin-top: 10px")
        div(ng-bind="'paikallinen-koodi-info' | kaanna")
      div.koodi-kaytossa.alert(ng-show="tormaavatKoodit.length > 0")
        div(ng-bind="'paikallinen-koodi-jo-kaytossa' | kaanna")
        table.table
          thead
            tr
              th(ng-bind="'opetussuunnitelma' | kaanna")
              th(ng-bind="'osa' | kaanna")
              th(ng-bind="'tila' | kaanna")
          tbody
            tr(ng-repeat="collision in tormaavatKoodit")
              td
                a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })" ng-bind="collision.owner.nimi | kaanna")
              td
                a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.osa({ opsId: collision.owner.id, osaId: collision.id })" ng-bind="collision.tekstiKappale.nimi | kaanna")
              td
                a(href="" ng-bind="'tila-' + collision.owner.tila | kaanna")


mixin vaatimus()
  textarea.form-control(ng-model="vaatimus.selite" slocalized placeholder="{{' vaatimuksen-selite' | kaanna }}")
  input.form-control(type="text"
  ng-model="vaatimus.ammattitaitovaatimusKoodi"
  maxlength="20"
  placeholder="{{ 'ammattitaitovaatimuksen-koodi' | kaanna }}")
  .painikkeet
    span.sortable-item-handle.pull-right
      +gicon("sort")
    span.pull-right.linkki(ng-click="poistaVaatimus(vaatimuksenKohde, vaatimus)")
      +icon("trash-o")


mixin vaatimuksenKohde()
  .vaatimuksen-kohde
    .form-group(ng-if="$$ekEditing")
      .input-group
        input.form-control(type="text" ng-model="vaatimuksenKohde.otsikko" slocalized placeholder="{{ 'vaatimuksen-kohteen-otsikko' | kaanna }}")
        .input-group-addon.linkki(ng-click="poistaVaatimuksenKohde(ammattitaitovaatimus, vaatimuksenKohde)")
          +icon("trash-o")
        .input-group-addon.sortable-item-handle
          +gicon("sort")
    //.form-group(ng-if="$$ekEditing")
      input.form-control(type="text" ng-model="vaatimuksenKohde.selite" slocalized placeholder="{{ 'vaatimuksen-kohteen-selite' | kaanna }}")

    h4(ng-if="!$$ekEditing")
      span(ng-if="vaatimuksenKohde.otsikko" ng-bind="vaatimuksenKohde.otsikko | kaanna")
    //p(ng-if="!$$ekEditing")
      span(ng-if="vaatimuksenKohde.selite" ng-bind="vaatimuksenKohde.selite | kaanna")

    .row(ng-if="$$ekEditing")
      .col-xs-11.col-xs-push-1
        .vaatimukset(ui-sortable="sortableOptionsVaatimukset" ng-model="vaatimuksenKohde.vaatimukset")
          div(ng-repeat="vaatimus in vaatimuksenKohde.vaatimukset")

            +vaatimus
    div(ng-if="!$$ekEditing")
      ul
        li(ng-repeat="vaatimus in vaatimuksenKohde.vaatimukset")
          span(ng-bind="vaatimus.selite | kaanna")
          span=" ({{ vaatimus.ammattitaitovaatimusKoodi }})"

    .painikkeet(ng-if="$$ekEditing")
      .clearfix
      span.linkki.pull-right(ng-click="lisaaVaatimus(vaatimuksenKohde)")
        +icon("plus")
      .clearfix


mixin ammattitaitovaatimus()
  .box-panel
    //.box-panel-title
      h3(ng-if="!$$ekEditing")
        span(ng-if="ammattitaitovaatimus.otsikko" ng-bind="ammattitaitovaatimus.otsikko | kaanna")

      .input-group(ng-if="$$ekEditing")
        input.form-control(type="text"
                           slocalized
                           ng-model="ammattitaitovaatimus.otsikko"
                           placeholder="{{ 'otsikko-puuttuu' | kaanna }}")

        .input-group-addon.linkki(ng-click="poistaAmmattitaitovaatimus(ammattitaitovaatimus)")
          +icon("trash-o")
        .input-group-addon.sortable-item-handle
          +gicon("sort")

    .box-panel-content
      .vaatimuksen-kohteet(ui-sortable="sortableOptionsVaatimuksenKohteet" ng-model="ammattitaitovaatimus.vaatimuksenKohteet")
        div(ng-repeat="vaatimuksenKohde in ammattitaitovaatimus.vaatimuksenKohteet")
          +vaatimuksenKohde


      button.btn.btn-primary(ng-if="$$ekEditing" ng-click="lisaaVaatimuksenKohde(ammattitaitovaatimus)")
        +icon("plus")
        span=" "
        span(ng-bind="'lisaa-arviointi-kohde' | kaanna")


mixin kriteeri()
  div(ng-if="$$ekEditing")
    textarea.form-control(ng-model="kriteeri" slocalized placeholder="{{'kriteerin-teksti' | kaanna}}")
    .painikkeet
      span.sortable-item-handle.pull-right
        +gicon("sort")
      span.pull-right.linkki(ng-click="poistaKriteeri((arviointiKohde.osaamistasonKriteerit | orderBy:'_osaamistaso')[index], kriteeri)")
        +icon("trash-o")


mixin arviointiKohde()
  .arviointi-kohde(ng-if="pa.arviointiasteikko(arviointiKohde) > 0")
    .form-group(ng-if="$$ekEditing")
      .input-group
        input.form-control(type="text" ng-model="arviointiKohde.otsikko" slocalized placeholder="{{ 'arvioinnin-kohteen-otsikko' | kaanna }}")
        .input-group-addon.linkki(ng-click="poistaArvioinninKohde(arvioinninKohdealue, arviointiKohde)")
          +icon("trash-o")
        .input-group-addon.sortable-item-handle
          +gicon("sort")
    .form-group(ng-if="$$ekEditing")
      input.form-control(type="text" ng-model="arviointiKohde.selite" slocalized placeholder="{{ 'arvioinnin-kohteen-selite' | kaanna }}")

    h4(ng-if="!$$ekEditing")
      span(ng-if="arviointiKohde.otsikko" ng-bind="arviointiKohde.otsikko | kaanna")
    p(ng-if="!$$ekEditing")
      span(ng-if="arviointiKohde.selite" ng-bind="arviointiKohde.selite | kaanna")


    .table-responsive
      table.table.table-striped.table-condensed
        tbody
          tr(ng-repeat="(index, osaamistaso) in arviointiAsteikot[pa.arviointiasteikko(arviointiKohde) - 1].osaamistasot")
            td(ng-bind="osaamistaso.otsikko | kaanna")
            td
              ul(ng-if="!$$ekEditing")
                li(ng-bind="kriteeri | kaanna" ng-repeat="kriteeri in (arviointiKohde.osaamistasonKriteerit | orderBy:'_osaamistaso')[index].kriteerit")

              div(ng-if="$$ekEditing")
                .osaamistason-kriteerit(ui-sortable="sortableOptionsOsaamistasonKriteerit"
                ng-model="(arviointiKohde.osaamistasonKriteerit | orderBy:'_osaamistaso')[index].kriteerit")
                  div(ng-repeat="kriteeri in (arviointiKohde.osaamistasonKriteerit | orderBy:'_osaamistaso')[index].kriteerit")
                    +kriteeri
                div.clearfix
                div.painikkeet
                  span.linkki.pull-right(ng-click="lisaaKriteeri((arviointiKohde.osaamistasonKriteerit | orderBy:'_osaamistaso')[index])")
                    +icon("plus")

mixin arviointiAsteikko()
  .arviointi-asteikko
    .radio(ng-repeat="arviointiAsteikko in arviointiAsteikot")
      label
        input(type="radio" ng-model="arvioinninKohdealue.$$uusiArvioinninKohdealue._arviointiasteikko" ng-value="arviointiAsteikko.id")
        span(ng-repeat="osaamistaso in arviointiAsteikko.osaamistasot")
          span {{ osaamistaso.otsikko | kaanna }}{{{true: '', false: ' / '}[$last]}}

    .painikkeet
      button.btn.btn-danger(type='button'
      ng-click="arvioinninKohdealue.$$uusiAuki = !arvioinninKohdealue.$$uusiAuki"
      ng-show="arvioinninKohdealue.$$uusiAuki" ng-bind="'peruuta' | kaanna")
      button.btn.btn-default(type='button' ng-click="lisaaArviointiasteikko(arvioinninKohdealue)" ng-bind="'lisaa' | kaanna")


mixin arviointi()
  .box-panel
    .box-panel-title
      h3(ng-if="!$$ekEditing && arvioinninKohdealue.otsikko.fi !== 'automaattinen' && arvioinninKohdealue.otsikko.fi !== 'Nimetön'")
        span(ng-if="arvioinninKohdealue.otsikko" ng-bind="arvioinninKohdealue.otsikko | kaanna")

      .input-group(ng-if="$$ekEditing")
        input.form-control(type="text"
        slocalized
        ng-model="arvioinninKohdealue.otsikko"
        placeholder="{{ 'otsikko-puuttuu' | kaanna }}")

        .input-group-addon.linkki(ng-click="poistaArvioinninKohdealue(arvioinninKohdealue)")
          +icon("trash-o")
        .input-group-addon.sortable-item-handle
          +gicon("sort")

    .box-panel-content
      .arviointi-kohteet(ui-sortable="sortableOptionsArvioinninKohteet" ng-model="arvioinninKohdealue.arvioinninKohteet")
        div(ng-repeat="arviointiKohde in arvioinninKohdealue.arvioinninKohteet")
          +arviointiKohde

      .uusi-arviointi-kohde(ng-show="arvioinninKohdealue.$$uusiAuki" ng-if="$$ekEditing")
        +arviointiAsteikko

      button.btn.btn-primary(ng-if="$$ekEditing" ng-click="lisaaArviointiKohde(arvioinninKohdealue)" ng-hide="arvioinninKohdealue.$$uusiAuki")
        +icon("plus")
        span=" "
        span(ng-bind="'lisaa-arviointi-kohde' | kaanna")


mixin osaamistavoite(field)
  .box-panel
    .box-panel-title
      h3
        span(ng-if=field + ".nimi" ng-bind=field + ".nimi | kaanna")
        span(ng-if="!" + field + ".nimi && " + field + ".kohde" ng-bind=field + ".kohde | kaanna")

    .box-panel-content
      h4
        span(ng-if=field + ".kohde && " + field + ".nimi" ng-bind=field + ".kohde | kaanna")

      ul
        li(ng-repeat="tavoite in " + field +".tavoitteet")
          span(ng-bind="tavoite | kaanna")

      p
        span(ng-if=field + ".selite" ng-bind=field + ".selite | kaanna")

mixin tosaToteutus()
  div.toteutukset
    div(ng-if="$$ekEditing")
      div
        h1
          span(ng-bind="'toteutus' | kaanna")
          .pull-right
            button.btn.btn-primary(ng-click="addVapaaTeksti()")
              +icon("plus")
              span(style="margin-left: 8px" ng-bind="'lisaa-vapaa-teksti' | kaanna")

        div(ng-if="pTosa && pTosa.$$isTutke2")
          h2(ng-bind="'osaamisen-osoittaminen' | kaanna")
          div(style="margin-bottom: 16px" ckeditor slocalized ng-model="osa.tosa.osaamisenOsoittaminen" layout="normal")

        div(ui-sortable="vapaatTekstitSortableOptions" ng-model="osa.tosa.vapaat")
          div(ng-repeat="vapaa in osa.tosa.vapaat" style="margin-bottom: 16px")
            .input-group(style="margin-bottom: 4px")
              span.input-group-addon.pointable(ng-click="vapaa.$$nayta = !vapaa.$$nayta")
                +turboChevron("!vapaa.$$nayta")
              input.form-control(slocalized ng-model="vapaa.nimi")
              span.input-group-addon.vapaa-handle.pointable
                +gicon("sort")
            div(ng-show="vapaa.$$nayta")
              div(ckeditor slocalized ng-model="vapaa.teksti" layout="normal")
              button.btn.btn-danger(style="margin-top: 6px" ng-click="removeVapaa(vapaa)")
                +itext("remove", 'poista')

        h2(style="margin: 18px 0 18px 0")
          span(ng-bind="'toteutukset' | kaanna")
          .pull-right
            button.btn.btn-primary(ng-click="lisaaUusiToteutus()")
              +icon("plus")
              span(style="margin-left: 8px" ng-bind="'lisaa-uusi' | kaanna")


        div(ng-hide="osa.tosa.toteutukset.length > 0")
          div.alert.alert-info
            span(ng-bind="'tutkinnon-osalle-ei-maaritelty-paikallisia-toteutuksia' | kaanna" ng-if="!$$isValmaTelma")
            span(ng-bind="'koulutuksen-osalle-ei-maaritelty-paikallisia-toteutuksia' | kaanna" ng-if="$$isValmaTelma")

        div(ui-sortable="sortableOptions" ng-model="osa.tosa.toteutukset")
          div.toteutus(ng-repeat="toteutus in osa.tosa.toteutukset")
            div.toteutus-header
              div.input-group
                span.input-group-addon.pointable(ng-click="toteutus.$$nayta = !toteutus.$$nayta")
                  +turboChevron("!toteutus.$$nayta")
                input.form-control(slocalized ng-model="toteutus.otsikko")
                span.input-group-addon.pointable.toteutus-handle
                  +gicon("sort")
            div.toteutus-content(ng-if="toteutus.$$nayta")
              div.osaamisalatieto(ng-show="toteutus.osaamisalaKoodi")
                span(ng-bind="'osaamisalat-joihin-vaikutusta' | kaanna")
                span(style="margin-right: 6px")
                  |:
                span(ng-bind="osaamisalat[toteutus.osaamisalaKoodi].nimi | kaanna")
                b(style="margin-left: 6px" ng-bind="osaamisalat[toteutus.osaamisalaKoodi].arvo")

              div
                +contentToggler("$$showKoodit", "'liitetyt-koodit'")
                  table.table.table-striped(ng-if="toteutus.koodit.length > 0")
                    thead
                      tr
                        th(ng-bind="'koodi' | kaanna")
                        th(ng-bind="'nimi' | kaanna")
                    tbody
                      tr(ng-repeat="koodi in toteutus.koodit")
                        td(ng-if="koodistoTiedot[koodi]" ng-bind="koodistoTiedot[koodi].arvo")
                        td(ng-if="koodistoTiedot[koodi]" ng-bind="koodistoTiedot[koodi].nimi | kaanna")
                  button.btn.btn-primary(ng-disabled="koodit.length === 0" ng-click="addKoodi(toteutus)" ng-bind="'muokkaa-koodeja' | kaanna")

              +contentToggler("$$showTavatjaymparisto", "'tavat-ja-ymparisto'")
                div(ckeditor slocalized ng-model="toteutus.tavatjaymparisto.teksti" layout="normal")
              +contentToggler("$$showArvioinnista", "'osaamisen-arvioinnista'")
                div(ckeditor slocalized ng-model="toteutus.arvioinnista.teksti" layout="normal")
              +contentToggler("$$showVapaat", "'tekstikappaleet'")
                .toteutus-lisaa-tekstikappale
                  button.btn.btn-primary(ng-click="addToteutusVapaaTeksti(toteutus)")
                    +icon("plus")
                    span(style="margin-left: 8px" ng-bind="'lisaa-vapaa-teksti' | kaanna")
                div(ui-sortable="vapaatTekstitSortableOptions" ng-model="toteutus.vapaat")
                  div(ng-repeat="vapaa in toteutus.vapaat" style="margin-bottom: 16px")
                    .input-group(style="margin-bottom: 4px")
                      span.input-group-addon.pointable(ng-click="vapaa.$$nayta = !vapaa.$$nayta")
                        +turboChevron("!vapaa.$$nayta")
                      input.form-control(slocalized ng-model="vapaa.nimi")
                      span.input-group-addon.vapaa-handle.pointable
                        +gicon("sort")
                    div(ng-show="vapaa.$$nayta")
                      div(ckeditor slocalized ng-model="vapaa.teksti" layout="normal")
                      button.btn.btn-danger(style="margin-top: 6px" ng-click="removeToteutusVapaa(toteutus.id, vapaa)")
                        +itext("remove", 'poista')

              div.toolbar-bottom
                button.btn.btn-danger(ng-click="removeToteutus(toteutus)")
                  +itext("remove", 'poista-toteutus')

    div(ng-if="!$$ekEditing")
      div(ng-if="pTosa && pTosa.$$isTutke2")
        +contentToggler("$$showOsaamisenOsoittaminen", "'osaamisen-osoittaminen'")
          +teksti("osa.tosa.osaamisenOsoittaminen")

      div(ng-repeat="vapaa in osa.tosa.vapaat")
        +contentToggler("vapaa.$$show", "vapaa.nimi")
          +teksti("vapaa.teksti")

      div
        h2
          span(ng-bind="'toteutukset' | kaanna")

      div.toteutus-esitys(ng-repeat="toteutus in osa.tosa.toteutukset")
        div
          .otsikko(ng-click="toteutus.$$nayta = !toteutus.$$nayta")
            h3
              +turboChevron("!toteutus.$$nayta")
              +plainTeksti("toteutus.otsikko")

          .sisalto(ng-if="toteutus.$$nayta")
            div(ng-show="toteutus.koodit.length > 0")
              +contentToggler("$$showKoodit", "'liitetyt-koodit'")
                table.table.table-striped
                  thead
                    tr
                      th(ng-bind="'koodi' | kaanna")
                      th(ng-bind="'nimi' | kaanna")
                  tbody
                    tr(ng-repeat="koodi in toteutus.koodit")
                      td(ng-if="koodistoTiedot[koodi]" ng-bind="koodistoTiedot[koodi].arvo")
                      td(ng-if="koodistoTiedot[koodi]" ng-bind="koodistoTiedot[koodi].nimi | kaanna")
            +contentToggler("$$showTavatjaymparisto", "'tavat-ja-ymparisto'")
              +teksti("toteutus.tavatjaymparisto.teksti")
            +contentToggler("$$showArvioinnista", "'osaamisen-arvioinnista'")
              +teksti("toteutus.arvioinnista.teksti")
            div(ng-repeat="vapaa in toteutus.vapaat")
              +contentToggler("vapaa.$$show", "vapaa.nimi")
                +teksti("vapaa.teksti")


mixin omaTosaSisalto()
  div(ng-if="$$ekEditing")
    +paikallinenLaajuus
    +paikallinenKoodi
    +contentToggler("$$showTavoitteet", "'tavoitteet'")
      div(style="margin-bottom: 16px" ckeditor slocalized ng-model="osa.tosa.omatutkinnonosa.tavoitteet" layout="normal")
    +contentToggler("$$showAmmattitaitovaatimukset", "'ammattitaitovaatimukset'")
      .ammattitaitovaatimukset(ui-sortable="sortableOptionsAmmattitaitovaatimukset"
      ng-model="osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista")
        div(ng-repeat="ammattitaitovaatimus in osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista")
          +ammattitaitovaatimus
      button.btn.btn-default(type='button'
      ng-click="lisaaAmmattitaitovaatimus()"
      ng-bind="'lisaa-ammattitaitovaatimus' | kaanna"
      ng-hide="osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista.length > 0")
      button.btn.btn-default(type='button'
      ng-click="poistaAmmattitaitovaatimus(osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista[0])"
      ng-bind="'poista-ammattitaitovaatimus' | kaanna"
      ng-show="osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista.length > 0")
    +contentToggler("$$showArviointi", "'arviointi'")
      .arviointi-kohdealueet(ui-sortable="sortableOptionsArvioinninKohdealueet"
      ng-model="osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet")
        div(ng-repeat="arvioinninKohdealue in osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet")
          +arviointi
      button.btn.btn-default(type='button' ng-click="lisaaArvioinninKohdealue()" ng-bind="'lisaa-kohdealue' | kaanna")
    +contentToggler("$$showAmmattitaidonOsoittamistavat", "'ammattitaidon-osoittamistavat'")
      div(style="margin-bottom: 16px"
      ckeditor slocalized ng-model="osa.tosa.omatutkinnonosa.ammattitaidonOsoittamistavat" layout="normal")

  div(ng-if="!$$ekEditing")
    +paikallinenLaajuus
    +paikallinenKoodi
    div(ng-if="osa.tosa.omatutkinnonosa.tavoitteet")
      +contentToggler("$$showTavoitteet", "'tavoitteet'")
        +teksti("osa.tosa.omatutkinnonosa.tavoitteet")
    div(ng-if="osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista && osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista.length > 0")
      +contentToggler("$$showAmmattitaitovaatimukset", "'ammattitaitovaatimukset'")
        .ammattitaitovaatimukset
          div(ng-repeat="ammattitaitovaatimus in osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista")
            +ammattitaitovaatimus
    div(ng-if="osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet && osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet.length > 0")
      +contentToggler("$$showArviointi", "'arviointi'")
        .arviointi-kohdealueet
          div(ng-repeat="arvioinninKohdealue in osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet")
            +arviointi
    div(ng-if="osa.tosa.omatutkinnonosa.ammattitaidonOsoittamistavat && osa.tosa.omatutkinnonosa.ammattitaidonOsoittamistavat.length > 0")
      +contentToggler("$$showAmmattitaidonOsoittamistavat", "'ammattitaidon-osoittamistavat'")
        +teksti("osa.tosa.omatutkinnonosa.ammattitaidonOsoittamistavat")



mixin tutke2osa()
  .tutke2osa
    .valitsin
      span(ng-bind="'osa-alueet' | kaanna")
      span(style="margin-right: 5px") :
      span.valitsin-osaalue(ng-repeat="osaAlue in pTosa.osaAlueet")
        span.pipe(ng-hide="$first") |
        a(href="" ng-bind="osaAlue.nimi | kaanna" ng-click="gotoAnchor('osa-alue-' + osaAlue.id)")
    .osa-alue(ng-repeat="osaAlue in pTosa.osaAlueet")
      h1.osa-alue-nimi(id="{{ 'osa-alue-' + osaAlue.id }}")
        span(ng-bind="osaAlue.nimi | kaanna")
        span.koodi(ng-show="osaAlue.koodiArvo") ({{ osaAlue.koodiArvo }})
      .osaamistavoite(ng-repeat="osaamistavoite in osaAlue.osaamistavoitteet")
        h2.osaamistavoite-nimi(ng-bind="osaamistavoite.nimi | kaanna")
        div(ng-if="osaamistavoite.tavoitteet")
          +contentToggler("$$showOsaamistavoitteet", "'osaamistavoitteet'")
            +teksti("osaamistavoite.tavoitteet")
        div(ng-if="osaamistavoite.arviointi && osaamistavoite.arviointi.arvioinninKohdealueet.length > 0")
          div(ng-repeat="arvioinninKohdealue in osaamistavoite.arviointi.arvioinninKohdealueet")
            +arviointi
        div(ng-if="osaamistavoite.tunnustaminen")
          +teksti("osaamistavoite.tunnustaminen")
      div(ng-if="osaAlue.valmaTelmaSisalto")
        +valmaTelma("osaAlue")

mixin valmaTelma(field)
  .valma-telma(ng-if=field + ".valmaTelmaSisalto")
    div(ng-if=field + ".valmaTelmaSisalto.osaamistavoite && " + field + ".valmaTelmaSisalto.osaamistavoite.length > 0")
      +contentToggler(field + ".$$showOsaamistavoitteet", "'osaamistavoitteet'")
        div(ng-repeat="osaamistavoite in " + field + ".valmaTelmaSisalto.osaamistavoite")
          +osaamistavoite("osaamistavoite")

    div(ng-if=field + ".valmaTelmaSisalto.osaamisenarviointi")
      +contentToggler(field + ".$$showArviointi", "'osaamisen-arviointi'")
        +osaamistavoite(field + ".valmaTelmaSisalto.osaamisenarviointi")

    div(ng-if=field + ".valmaTelmaSisalto.osaamisenarviointiTekstina")
      +contentToggler(field + ".$$showArviointiTekstina", "'osaamisen-arviointi-tekstina'")
        +teksti(field + ".valmaTelmaSisalto.osaamisenarviointiTekstina")


mixin perusteenTosaSisalto()
  +formfieldDense("'koodi'")
    b(ng-bind="pTosa.koodiArvo")
  +formfieldDense("'luotu'")
    span(ng-bind="pTosa.luotu | aikaleima")
  +formfieldDense("'viimeksi-muokattu'")
    span(ng-bind="pTosa.muokattu | aikaleima")
  +teksti("pTosa.kuvaus")

  div(ng-if="pTosa.$$isTutke2")
    +tutke2osa
  div(ng-if="!pTosa.$$isTutke2")
    div(ng-if="pTosa.ammattitaitovaatimukset")
      +contentToggler("pTosa.$$showAmVaatimukset", "'ammattitaitovaatimukset'")
        +teksti("pTosa.ammattitaitovaatimukset")
    // +contentToggler("$$showTavoitteet", "'tavoitteet'")
      +teksti("pTosa.tavoitteet")
    // +contentToggler("$$showAmmattitaitovaatimukset", "'ammattitaitovaatimukset'")
      .ammattitaitovaatimukset
        div(ng-repeat="ammattitaitovaatimus in pTosa.ammattitaitovaatimuksetLista")
          +ammattitaitovaatimus
    div(ng-if="pTosa.arviointi && pTosa.arviointi.arvioinninKohdealueet.length > 0")
      +contentToggler("$$showArviointi", "'arviointi'")
        .arviointi-kohdealueet
          div(ng-repeat="arvioinninKohdealue in pTosa.arviointi.arvioinninKohdealueet")
            +arviointi
    div(ng-if="pTosa.ammattitaidonOsoittamistavat")
      +contentToggler("pTosa.$$showAmOsoittamiset", "'ammattitaidon-osoittamistavat'")
        +teksti("pTosa.ammattitaidonOsoittamistavat")
    div(ng-if="pTosa.valmaTelmaSisalto")
      +valmaTelma("pTosa")


mixin tosaSisalto()
  div(ng-if="pTosa")
    +perusteenTosaSisalto
  div(ng-if="!pTosa")
    +omaTosaSisalto

.tutkinnonosa
  div(style='margin-bottom: 20px;')
    span.toggler(ng-click='$$showToteutus = !$$showToteutus')
      span.bubble(ng-class="{ 'active': $$showToteutus }", kaanna="'toteutus'")
      span.bubble(ng-class="{ 'active': !$$showToteutus }", kaanna="'sisalto'")
  .clearfix

  div(ng-if="$$showToteutus")
    +tosaToteutus
  div(ng-if="!$$showToteutus")
    +tosaSisalto
