mixin murupolku(...linkit)
  if linkit.length > 0
    ol.breadcrumb
      li
        a(ui-sref="root.etusivu")
          img(src='images/sm/ikoni-eperusteet.png')
      - for (var idx = 0; idx < linkit.length - 1; idx++)
        li
          a(ui-sref=linkit[idx][1])
            span(ng-bind=linkit[idx][0] + " | kaanna")
      li.active
        span(ng-bind=linkit[linkit.length - 1][0] + " | kaanna")


mixin gicon(type)
  span(class="glyphicon glyphicon-" + type)


mixin icon(type)
  i(class="fa fa-" + type)


mixin itext(type, text)
  span
    i(class="fa fa-" + type)
    span(style="margin-left: 8px" kaanna=text)


mixin removeButtonSmall(actionEdit)
  button.btn.btn-warning.btn-sm.btn-small-margin-left(
      ng-disabled="$$ekEditing || versio || creatingNewKasite"
      ng-click=actionEdit)&attributes(attributes)
    +icon("trash")


mixin editButtonSmall(actionEdit)
  button.btn.btn-primary.btn-sm.muokkaa(
      ng-disabled="$$ekEditing || versio || creatingNewKasite"
      ng-click=actionEdit
      oikeustarkastelu="muokkaus")&attributes(attributes)
    +icon("pencil")


mixin editButton(actionEdit, className)
  span(ng-hide="osaLock")
    button.btn.btn-primary.muokkaa(class=className ng-hide="$$ekEditing || versio" ng-click=actionEdit oikeustarkastelu="muokkaus")&attributes(attributes)
      +icon("pencil")
  span(ng-show="osaLock")
    button.btn.btn-primary.muokkaa(
      popover-title="{{ 'osa-lukittu' | kaanna }}"
      uib-popover-html="osaLockStr"
      popover-trigger="mouseenter"
      popover-placement="bottom"
      ng-click="tarkistaLukitus()")
      +icon("lock")


mixin addButtonSmall(actionEdit, className)
  button.btn.btn-primary.btn-sm.muokkaa.btn-small-margin-left(class=className ng-disabled="$$ekEditing" ng-click=actionEdit)&attributes(attributes)
    +icon("plus-circle")


mixin saveButtonSmall(actionEdit, className)
  button.btn.btn-primary.btn-sm.muokkaa(class=className ng-click=actionEdit)&attributes(attributes)
    +icon("save")


mixin cancelButtonSmall(actionEdit, className)
  button.btn.btn-warning.btn-sm.muokkaa(class=className ng-click=actionEdit)&attributes(attributes)
    +icon("close")


mixin historia(versio, uusinMuokkaaja, uusinMuokkaus, uusinRevisio, actionEdit, actionRevisions, actionPalauta, restoreNew)
  .ylapalkki
    .pull-left
      p
        span
          b(ng-bind="'muokattu' | kaanna")
        span(ng-bind=uusinMuokkaus + " | aikaleima")
      p
        span
          b(ng-bind="'muokkaaja' | kaanna")
        span(ng-bind=uusinMuokkaaja)

    .pull-right
      block
      +editButton(actionEdit)

    .pull-right(ng-hide="$$ekEditing" style="margin-top: 7px")
      a(href="" ng-click=actionRevisions ng-bind="'versiohistoria' | kaanna")
        span(ng-bind=uusinRevisio)

  div(ng-show="versio")
    br
    .alert.alert-info(role="alert")
      div(style="margin-bottom: 10px" ng-bind="'tarkastelet-vanhempaa-versiota' | kaanna")
      div
        button.btn.btn-danger(ng-click=actionPalauta ng-bind="'ota-versio-kayttoon' | kaanna")
        button.btn.btn-default(style="margin-left: 20px;" ng-click=restoreNew ng-bind="'palaa-uusimpaan' | kaanna")


mixin ekdate(model, label)
  div(ng-if="$$ekEditing")
    datepick(type="date" label="{{ " + label + " | kaanna }}" model=model)
  div(ng-if="!$$ekEditing")
    p(ng-bind=model + " | aikaleima")


mixin ekstring(model, required)
  - required = required || "false"
  div(ng-show="$$ekEditing")
    input.form-control(ng-model=model type="text" required=required)
  div(ng-hide="$$ekEditing")
    p(ng-bind-html=model + "| kaanna")


mixin ekinput(model, required)
  - required = required || "false"
  div(ng-show="$$ekEditing")
    input.form-control(slocalized ng-model=model type="text" required=required)
  div(ng-hide="$$ekEditing")
    p(ng-bind-html=model + "| kaanna")


mixin ekeditor(model, layout)
  div(ng-if="$$ekEditing")
    div(ckeditor slocalized ng-model=model layout=layout)
  div(ng-if="!$$ekEditing")
    p(ng-bind-html=model + "| kaanna")


mixin checkbox(name, model)
  .checkbox
    label
      input.checked(type="checkbox" ng-model=model ng-disabled="!$$ekEditing")
      span(kaanna=name)


mixin formfieldDense(label)
  div.row(style="margin-bottom: 8px")
    .col-xs-2: span(kaanna=label)
    .col-xs-10
      block


mixin formfield(label)
  div.row(style="margin-bottom: 20px")
    .col-xs-2: span(kaanna=label)
    .col-xs-10
      block


mixin kasitePropDiv(model, index)
  div(ng-show="!$$ekEditing || $$ekEditingIndex !== " + index)
    p(kaanna=model)


mixin plainTeksti(kentta)
  span(termisto-viitteet=kentta ng-bind-html=kentta + "| kaanna | unsafe")


mixin teksti(kentta)
  p(termisto-viitteet=kentta ng-bind-html=kentta + "| kaanna | kuvalinkit | unsafe")


mixin turboChevron(toggleField)
  span.turbochevron
    span(ng-if=toggleField)
      +gicon("chevron-right")
    span(ng-if="!" + toggleField)
      +gicon("chevron-down")


mixin contentToggler(toggleField, name)
  div.content-toggler
    div.content-toggler-header(ng-click=toggleField + " = !" + toggleField)
      span.ct-otsikko
        +turboChevron(toggleField)
        label(kaanna=name)
    div(ng-if="!" + toggleField)
      block


mixin toggler(field, yes, no)
  span.toggler(ng-click=field + " = !" + field)
    span.bubble(ng-class="{ 'active': " + field + " }" kaanna=no)
    span.bubble(ng-class="{ 'active': !" + field + " }" kaanna=yes)

mixin kielivalitsin
  span.dropdown.kielivalitsin(uib-dropdown)
    a.dropdown-toggle(uib-dropdown-toggle)
      +gicon("flag")
      span=" "
      span(ng-bind="currentLang | kaanna")
      span=" "
      span.caret
    ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
      li(ng-repeat="kieli in langs" ng-class="{'active': currentLang === kieli}")
        a(href="" kaanna="kieli" ng-click="selectLang(kieli)")
